@using System.Security.Policy
@{
    ViewBag.Title = "Result";
}

<div class="jumbotron">
    <h1>Google+ Auth</h1>
    <p class="lead">Your are logged in!</p>
</div>

<div class="row">   
    <div class="col-xs-4 btn btn-block btn-success">
        <a href="/Home/Logout">
            <span>Log Out</span>
        </a>
    </div>
</div>